@import "normalize";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  border: 1px solid red;
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: flex-end;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 33.33%;
  border: 1px solid yellow;
  background: #000000;
  color: #ffffff;
}

.about {
  display: flex;
  flex-direction: column;
  border: 1px solid purple;
  min-height: 100vh;
}

.about h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 200px;
  font-family: Helvetica, sans-serif;
  font-size: 33px;
}

.about h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 33px;
  padding-bottom: 15px;
  font-weight: 400;
}

.about-link {
  margin-bottom: auto;
}

.about img {
  margin: auto;
  margin-top: 25px;
  width: 55%;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex: 0 1 66.66%;
  flex-wrap: wrap;
  height: 50%;
}

.col-one {
  width: 50%;
  border: 1px solid green;
  line-height: 0;
  min-height: 50vh;
}
.col-one a{
  text-align: center;
  margin-top: 25px;
  width: 50px;
}

/*Marquee Animation*/

.Marquee {
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: white;
}
.Marquee:last-child {
  border-width: 5px 0px 5px 0px;
}

.Marquee .Marquee-content {
  display: flex;
  animation: marquee 11s linear infinite running;
}

.Marquee .Marquee-content:hover {
  animation-play-state: paused;
}

.Marquee .Marquee-content-two {
  display: flex;
  animation: marquee 10s linear infinite running;
}

.Marquee .Marquee-content-two:hover {
  animation-play-state: paused;
}
.Marquee .Marquee-content-three {
  display: flex;
  animation: marquee 9s linear infinite running;
}

.Marquee .Marquee-content-three:hover {
  animation-play-state: paused;
}

.Marquee .Marquee-tag {
  width: 250px;
  margin: 0 0.2em;
  padding: 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.Marquee .Marquee-tag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Marquee-tag a {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 33px;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
